<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta charset="utf-8">
		<title>Accueil</title>
		
		<link th:href="@{/css/signin.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
	</head>

	<body class="text-center" cz-shortcut-listen="true">
	    <form class="form-signin">
		  <img class="mb-4" th:src="@{/images/logo-square.png}" alt="" width="150" height="150">

		  <a th:href="@{ /login }" class="btn btn-lg btn-primary btn-block mb-2">
			CONNEXION
	      </a>
	      
	      <a th:href="@{ /dashboard-scores }" class="btn btn-lg btn btn-outline-secondary btn-block">
	      	TABLEAU DES SCORES
	      </a>
	      
		  <p class="mt-5 mb-3 text-muted">par Adam PLET & Tangi GREFFIER</p>
		</form>
	</body>
</html>