<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		<title>Inscription</title>
		
		<link th:href="@{/css/signin.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
	</head>
	
	<body class="text-center" cz-shortcut-listen="true">
	    <form class="form-signin" method="post"><div class="col text-center">
    		<a th:href="@{ /home }">
    			<img class="rounded mx-auto d-block mb-4" th:src="@{/images/logo-square.png}" alt="" width="150" height="150">
    		</a>
		  
		  <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
		  
		  <label for="pseudo" class="sr-only">Pseudo</label>
		  <input type="text" id="pseudo" name="pseudo" class="form-control" placeholder="Pseudo" required autofocus>
		  
		  <label for="login" class="sr-only">Login</label>
		  <input type="text" id="login" name="login" class="form-control" placeholder="Login" required>
		  
		  <label for="password" class="sr-only">Mot de Passe</label>
		  <input type="password" id="password" name="password" class="form-control" placeholder="Mot de Passe" required>
		  
		  <button class="btn btn-lg btn-primary btn-block" type="submit">S'INSCRIRE</button>
		  
		  <a th:href="@{ /login }" class="btn btn-lg btn btn-outline-secondary btn-block">
	      	Retour à la connexion
	      </a>
		  
		  <div th:if="${param.success != null}" class="alert alert-success mt-4" role="alert"> 
		  	Votre compte a été créé avec succès ! 
		  </div>
		  
		  <div th:if="${param.loginexist != null}" class="alert alert-danger mt-4" role="alert"> 
		  	Compte déjà existant, veuillez changer de login ! 
		  </div>
		  
		  <div th:if="${param.error != null}" class="alert alert-danger mt-4" role="alert"> 
		  	Erreur lors de l'inscription, veuillez réessayer ultérieurement ! 
		  </div>
		  
		  <p class="mt-4 mb-3 text-muted">par Adam PLET & Tangi GREFFIER</p>
		</form>
	</body>
</html>