<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<meta charset="utf-8">
		<title>Inscription</title>
		
		<link th:href="@{/css/signin.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
	</head>
	
	<body class="text-center" cz-shortcut-listen="true">
	    <form class="form-signin" method="post">
		  <img class="mb-4" th:src="@{/images/logo-square.png}" alt="" width="150" height="150">
		  
		  <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
		  
		  <label for="pseudo" class="sr-only">Pseudo</label>
		  <input type="text" id="pseudo" class="form-control" placeholder="Pseudo" required autofocus="">
		  
		  <label for="login" class="sr-only">Login</label>
		  <input type="text" id="login" class="form-control" placeholder="Login" required>
		  
		  <label for="password" class="sr-only">Mot de Passe</label>
		  <input type="password" id="password" class="form-control" placeholder="Mot de Passe" required>
		  
		  <button class="btn btn-lg btn-primary btn-block" type="submit">S'INSCRIRE</button>
		  
		  <p class="mt-5 mb-3 text-muted">par Adam PLET & Tangi GREFFIER</p>
		</form>
	</body>
</html>