<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="ISO-8859-1">
		<title>Ajout d'un texte à trous</title>
		
		<link th:href="@{/css/signin.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
	</head>

	<body class="text-center d-flex flex-column" cz-shortcut-listen="true">
		<div class="container">
			<form th:action="@{ /add-Text }" method="post">
	  			<div class="form-group">
	    			<label for="content">Nouveau texte à trous</label>
	    			<textarea class="form-control" id="content" name="content" placeholder="Contenu du texte ici" rows="3" required></textarea>
	    			<small class="form-text text-muted">Mettre des "_" pour simuler un texte à trous.</small>
	  			</div>
	  			<button type="submit" class="btn btn-primary">Ajouter</button>
	  			
			</form>	
			
			<a th:href="@{ /display-Texts }" class="btn btn btn-outline-secondary mt-3">
				Voir tous les textes
			</a>
			
			<div th:if="${ param.textAdded != null }" class="alert alert-success mt-4" role="alert">Le texte a bien été ajouté aux médias !</div>
		</div>
	</body>
</html>