<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Liste des textes à trous</title>
		
		<link th:href="@{/css/signin.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
		<link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
	</head>

	<body class="text-center d-flex flex-column" cz-shortcut-listen="true">
		<a th:href="@{ /add-Text }" type="button" class="btn btn-primary btn-lg btn-block">Ajouter un texte</a>
		</br>
		<div class="card"  th:each="text: ${ listMediaText }">
  			<div class="card-header">
    			[[ ${ text.id } ]]
  			</div>
  			<div class="card-body">
    			<blockquote class="blockquote mb-0">
      				<p>[[ ${ text.content } ]]</p>
    			</blockquote>
  			</div>
		</div>		
	</body>
</html>